<!-- Navbar content -->
{% url 'login' as login %}
{% url 'logout' as logout %}
{% url 'register' as register %}
{% url 'carts:cart' as cart %}

<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">

  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'product:index' %}">Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mi-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link {% if request.path == cart %}active{% endif %}" href="{{ cart }}" >Mi carrito 
          <i class="fas fa-shopping-cart"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-link">{{ user.username }}</li>
          <li class="nav-item pull-xs-right">
            <a class="nav-link active" href="{{ logout }}">
                <i class="fa-solid fa-right-from-bracket fa-lg"></i> Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == login %} active {% endif%}" aria-current="page" href="{{ login }}">
                <i class="fa-solid fa-right-to-bracket fa-lg"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == register %} active {% endif%}" href="{{ register }}">
                <i class="fa-solid fa-user-plus fa-lg"></i> Singup</a>
          </li>
        {% endif %}
        
      </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
    </div>
  </div>
</nav>